body {
    text-align: center;
    padding: 20px;
    margin: 0;
    background-image: url('img/QuizFundo1.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titulo {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px #000;
}
.container {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 700px;
    margin: 0 auto;
    padding: 22px;
    border-radius: 25px;
}

.resultados p {
    margin-bottom: 1px;
    font-family: 'Press Start 2P', cursive;
    font-size: 80%;
}
h2 {
    font-size: 10px;
    margin-top: 20px;
    color: #000000;
}

ul.acertos, ul.erros {
    list-style: none;
    padding: 0;
    margin: 4px;
}
ul.acertos li {
    background-color: #005e00;
    border-left: 6px solid #00ff00;
    color: #ffffff;
    font-size: 80%;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    margin-bottom: 4px;
    text-align: left;
}
ul.erros li {
    background-color: #980000;
    border-color: #000000;
    border-left: 16px solid #ff0000;
    color: #ffffff;
    font-size: 80%;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    margin-bottom: 4px;
    text-align: left;
}
.titulo2{
    font-family: 'Press Start 2P', cursive;
    font-size: 90%;
}
.reset {
    width: 120px; 
    transition: all 0.3s ease;
  }
  
  .reset:hover {
    content: url('img/retrypressioned.png'); 
    transform: scale(1.1); 
  }
  